servidor_web/src/conf/xml-resources/web-service-references/publicador_2/wsdl/localhost_9128/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor/">

<xs:element name="CorreoRepetidoException" type="tns:CorreoRepetidoException"></xs:element>

<xs:element name="FormatoIncorrectoException" type="tns:FormatoIncorrectoException"></xs:element>

<xs:element name="NickRepetidoException" type="tns:NickRepetidoException"></xs:element>

<xs:complexType name="dataCliente">
<xs:complexContent>
<xs:extension base="tns:dataUsuario">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataUsuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="img" type="tns:bufferedImage" minOccurs="0"></xs:element>
<xs:element name="nick" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seguidores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bufferedImage">
<xs:sequence>
<xs:element name="data" type="tns:raster" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raster">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="NickRepetidoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CorreoRepetidoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FormatoIncorrectoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>