servidor_web/src/conf/xml-resources/web-service-references/publicador_9/wsdl/localhost_9128/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://localhost:9128/publicador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarClientes"></message>
<message name="listarClientesResponse">
<part name="return" type="tns:dataColeccionString"></part>
</message>
<message name="altaCliente">
<part name="arg0" type="tns:dataCliente"></part>
</message>
<message name="altaClienteResponse"></message>
<message name="NickRepetidoException">
<part name="fault" element="tns:NickRepetidoException"></part>
</message>
<message name="CorreoRepetidoException">
<part name="fault" element="tns:CorreoRepetidoException"></part>
</message>
<message name="FormatoIncorrectoException">
<part name="fault" element="tns:FormatoIncorrectoException"></part>
</message>
<message name="altaArtista">
<part name="arg0" type="tns:dataArtista"></part>
</message>
<message name="altaArtistaResponse"></message>
<message name="listarArtistas"></message>
<message name="listarArtistasResponse">
<part name="return" type="tns:dataColeccionString"></part>
</message>
<message name="existeUsuarioNick">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeUsuarioNickResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="checkPassword">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="checkPasswordResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="UsuarioInexistenteException">
<part name="fault" element="tns:UsuarioInexistenteException"></part>
</message>
<message name="tieneSuscripcionVigente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="tieneSuscripcionVigenteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ClienteInexistenteException">
<part name="fault" element="tns:ClienteInexistenteException"></part>
</message>
<message name="existeUsuarioCorreo">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeUsuarioCorreoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="buscarUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarUsuarioResponse">
<part name="return" type="tns:dataUsuario"></part>
</message>
<portType name="Publicador">
<operation name="listarClientes">
<input wsam:Action="http://servidor/Publicador/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://servidor/Publicador/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="altaCliente">
<input wsam:Action="http://servidor/Publicador/altaClienteRequest" message="tns:altaCliente"></input>
<output wsam:Action="http://servidor/Publicador/altaClienteResponse" message="tns:altaClienteResponse"></output>
<fault message="tns:NickRepetidoException" name="NickRepetidoException" wsam:Action="http://servidor/Publicador/altaCliente/Fault/NickRepetidoException"></fault>
<fault message="tns:CorreoRepetidoException" name="CorreoRepetidoException" wsam:Action="http://servidor/Publicador/altaCliente/Fault/CorreoRepetidoException"></fault>
<fault message="tns:FormatoIncorrectoException" name="FormatoIncorrectoException" wsam:Action="http://servidor/Publicador/altaCliente/Fault/FormatoIncorrectoException"></fault>
</operation>
<operation name="altaArtista">
<input wsam:Action="http://servidor/Publicador/altaArtistaRequest" message="tns:altaArtista"></input>
<output wsam:Action="http://servidor/Publicador/altaArtistaResponse" message="tns:altaArtistaResponse"></output>
<fault message="tns:NickRepetidoException" name="NickRepetidoException" wsam:Action="http://servidor/Publicador/altaArtista/Fault/NickRepetidoException"></fault>
<fault message="tns:CorreoRepetidoException" name="CorreoRepetidoException" wsam:Action="http://servidor/Publicador/altaArtista/Fault/CorreoRepetidoException"></fault>
<fault message="tns:FormatoIncorrectoException" name="FormatoIncorrectoException" wsam:Action="http://servidor/Publicador/altaArtista/Fault/FormatoIncorrectoException"></fault>
</operation>
<operation name="listarArtistas">
<input wsam:Action="http://servidor/Publicador/listarArtistasRequest" message="tns:listarArtistas"></input>
<output wsam:Action="http://servidor/Publicador/listarArtistasResponse" message="tns:listarArtistasResponse"></output>
</operation>
<operation name="existeUsuarioNick">
<input wsam:Action="http://servidor/Publicador/existeUsuarioNickRequest" message="tns:existeUsuarioNick"></input>
<output wsam:Action="http://servidor/Publicador/existeUsuarioNickResponse" message="tns:existeUsuarioNickResponse"></output>
</operation>
<operation name="checkPassword" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/checkPasswordRequest" message="tns:checkPassword"></input>
<output wsam:Action="http://servidor/Publicador/checkPasswordResponse" message="tns:checkPasswordResponse"></output>
<fault message="tns:UsuarioInexistenteException" name="UsuarioInexistenteException" wsam:Action="http://servidor/Publicador/checkPassword/Fault/UsuarioInexistenteException"></fault>
</operation>
<operation name="tieneSuscripcionVigente">
<input wsam:Action="http://servidor/Publicador/tieneSuscripcionVigenteRequest" message="tns:tieneSuscripcionVigente"></input>
<output wsam:Action="http://servidor/Publicador/tieneSuscripcionVigenteResponse" message="tns:tieneSuscripcionVigenteResponse"></output>
<fault message="tns:ClienteInexistenteException" name="ClienteInexistenteException" wsam:Action="http://servidor/Publicador/tieneSuscripcionVigente/Fault/ClienteInexistenteException"></fault>
</operation>
<operation name="existeUsuarioCorreo">
<input wsam:Action="http://servidor/Publicador/existeUsuarioCorreoRequest" message="tns:existeUsuarioCorreo"></input>
<output wsam:Action="http://servidor/Publicador/existeUsuarioCorreoResponse" message="tns:existeUsuarioCorreoResponse"></output>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://servidor/Publicador/buscarUsuarioRequest" message="tns:buscarUsuario"></input>
<output wsam:Action="http://servidor/Publicador/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"></output>
<fault message="tns:UsuarioInexistenteException" name="UsuarioInexistenteException" wsam:Action="http://servidor/Publicador/buscarUsuario/Fault/UsuarioInexistenteException"></fault>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="altaCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="NickRepetidoException">
<soap:fault name="NickRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="CorreoRepetidoException">
<soap:fault name="CorreoRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="FormatoIncorrectoException">
<soap:fault name="FormatoIncorrectoException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="altaArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="NickRepetidoException">
<soap:fault name="NickRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="CorreoRepetidoException">
<soap:fault name="CorreoRepetidoException" use="literal"></soap:fault>
</fault>
<fault name="FormatoIncorrectoException">
<soap:fault name="FormatoIncorrectoException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarArtistas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="existeUsuarioNick">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="checkPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="UsuarioInexistenteException">
<soap:fault name="UsuarioInexistenteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="tieneSuscripcionVigente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="ClienteInexistenteException">
<soap:fault name="ClienteInexistenteException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="existeUsuarioCorreo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
<fault name="UsuarioInexistenteException">
<soap:fault name="UsuarioInexistenteException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9128/publicador"></soap:address>
</port>
</service>
</definitions>