servidor_web/src/conf/xml-resources/web-service-references/publicador_16/wsdl/localhost_9128/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor/">

<xs:element name="ArtistaInexistenteException" type="tns:ArtistaInexistenteException"></xs:element>

<xs:element name="ClienteInexistenteException" type="tns:ClienteInexistenteException"></xs:element>

<xs:element name="CorreoRepetidoException" type="tns:CorreoRepetidoException"></xs:element>

<xs:element name="FormatoIncorrectoException" type="tns:FormatoIncorrectoException"></xs:element>

<xs:element name="ListaInexistenteException" type="tns:ListaInexistenteException"></xs:element>

<xs:element name="NickRepetidoException" type="tns:NickRepetidoException"></xs:element>

<xs:element name="NoHaySuscripcionException" type="tns:NoHaySuscripcionException"></xs:element>

<xs:element name="TransicionSuscripcionInvalidaException" type="tns:TransicionSuscripcionInvalidaException"></xs:element>

<xs:element name="UsuarioInexistenteException" type="tns:UsuarioInexistenteException"></xs:element>

<xs:complexType name="dataColeccionString">
<xs:sequence>
<xs:element name="data" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClienteInexistenteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UsuarioInexistenteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCliente">
<xs:complexContent>
<xs:extension base="tns:dataUsuario">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataUsuario">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="img" type="tns:bufferedImage" minOccurs="0"></xs:element>
<xs:element name="seguidores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
<xs:attribute name="fNacStr" type="xs:string"></xs:attribute>
</xs:complexType>

<xs:complexType name="bufferedImage">
<xs:sequence>
<xs:element name="data" type="tns:raster" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raster">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="NickRepetidoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CorreoRepetidoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FormatoIncorrectoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataLista">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="img" type="tns:bufferedImage" minOccurs="0"></xs:element>
<xs:element name="temas" type="tns:dataTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataTema">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="ListaInexistenteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataClienteExt">
<xs:complexContent>
<xs:extension base="tns:dataCliente">
<xs:sequence>
<xs:element name="seg" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="lis" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataArtistaExt">
<xs:complexContent>
<xs:extension base="tns:dataArtista">
<xs:sequence>
<xs:element name="alb" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataArtista">
<xs:complexContent>
<xs:extension base="tns:dataUsuario">
<xs:sequence>
<xs:element name="bio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ArtistaInexistenteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataColeccionSuscripcion">
<xs:sequence>
<xs:element name="data" type="tns:dataSuscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataSuscripcion">
<xs:sequence>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaUpdate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="estado" type="tns:estadoSuscripcion" minOccurs="0"></xs:element>
<xs:element name="tipo" type="tns:tipoSuscripcion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoHaySuscripcionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransicionSuscripcionInvalidaException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estadoSuscripcion">
<xs:restriction base="xs:string">
<xs:enumeration value="PENDIENTE"></xs:enumeration>
<xs:enumeration value="VIGENTE"></xs:enumeration>
<xs:enumeration value="CANCELADA"></xs:enumeration>
<xs:enumeration value="VENCIDA"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoSuscripcion">
<xs:restriction base="xs:string">
<xs:enumeration value="SEMANAL"></xs:enumeration>
<xs:enumeration value="MENSUAL"></xs:enumeration>
<xs:enumeration value="ANUAL"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>